@media (min-width: 1024px) {

.search {
    width: 90%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #202022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}

.text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;

}

.comps {
    width: 75px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #23AB5C;
    display: flex;
    justify-content: space-evenly
}

.comp-1 {
    width: 12px;
    height: 11.765px;
    flex-shrink: 0;
}

.comp-2 {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Avenir;
    font-size: 8px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;

}
}

@media (min-width: 10px) and (max-width: 1023px) {
    .search {
        width: 90%;
        margin: 0 auto;
        padding: 0rem 1rem;
        height: 40px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #202022;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Open Sans', sans-serif;

    }
    
    .text {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Avenir;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.2px;
        opacity: 0.8;
        font-family: 'Open Sans', sans-serif;

    }
    
    .comps {
        width: 75px;
        height: 22px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #23AB5C;
        display: flex;
        justify-content: space-evenly
    }
    
    .comp-1 {
        width: 12px;
        height: 11.765px;
        flex-shrink: 0;
    }
    
    .comp-2 {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Avenir;
        font-size: 8px;
        font-style: normal;
        font-weight: 800;
        line-height: 22px;
        font-family: 'Open Sans', sans-serif;

    }
}